
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* Fonte: Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Fonte: The Seasons (bold) */
@font-face {
    font-family: 'The Seasons-Bold';
    src: url(../Fonts/The-Seasons-Bold.otf) format('opentype');
}

:root{
    /* Cores */
    /* Cores principais */
    --Verde-petroleo : #0B3C40;
    --Branco         : #e8f6f7;
    --Cinza-neutro   : #8aa4a7;
    --Preto          : #030d0f;

    /* Cores secundáriais */
    --Azul-claro          : #11BCE8;
    --Azul-petroleo-claro : #72C5CF;
    --Vermelho            : #C32224;
    --Verde-petroleo      : #136972;
    --gradient            : linear-gradient(175deg,rgba(19, 105, 114, 1) 0%, rgba(11, 60, 64, 1) 36%, rgba(3, 13, 15, 1) 97%);

    /* Cores 70% de opacidade */
    --Azul-claro-70 : #11bde8a7;
    --Preto-70      : #030d0fa7;
    --Vermelho-70   : #c32225a7;

    /* Fontes */
    --openSans      : "Open Sans", sans-serif;
    --theSeasonBold : 'The Seasons-Bold';
}