@import url('../base.css');

/* Media query */
@media screen and (max-width: 389px) {
    footer{
        padding: 50px 20px;
    }

    footer div#footerSuperior{
        flex-direction: column;
        gap: 40px;
    }

    /* Parte Superior do Footer - Lado esquerdo */
    footer div#footerSuperior div#footerinformacoes{
        width: auto;
        gap: 25px;
    }

    footer div#footerSuperior h2{
        font-size: 25px;
    }

    footer div#footerSuperior div#footerinformacoes > div i{
        font-size: 15px;
    }

    footer div#footerSuperior div#footerinformacoes > div p, a{
        font-size: 13px;
    }
    
    /* Parte Superior do Footer - Lado direito */
    footer div#footerSuperior div#footerParceiros{
        gap: 25px;
    }
    
    footer div#footerSuperior div#footerParceiros > div{
        gap: 25px;
    }
    
    footer div#footerSuperior div#footerParceiros > div div#footerCards{
        gap: 15px;
        flex-wrap: wrap;
    }

    footer div#footerSuperior div#footerParceiros > div div#footerCards img{
        width: 90px;
        height: 50px;
    }
}
@media only screen and (min-width: 390px) and (max-width: 458px) {
    footer{
        padding: 40px 20px;
    }

    footer div#footerSuperior{
        flex-direction: column;
        gap: 40px;
    }

    /* Parte Superior do Footer - Lado esquerdo */
    footer div#footerSuperior div#footerinformacoes{
        width: auto;
        gap: 25px;
    }

    footer div#footerSuperior h2{
        font-size: 25px;
    }

    footer div#footerSuperior div#footerinformacoes > div i{
        font-size: 15px;
    }

    footer div#footerSuperior div#footerinformacoes > div p, a{
        font-size: 13px;
    }
    
    /* Parte Superior do Footer - Lado direito */
    footer div#footerSuperior div#footerParceiros{
        gap: 25px;
    }

    footer div#footerSuperior div#footerParceiros > div{
        gap: 25px;
    }

    footer div#footerSuperior div#footerParceiros > div div#footerCards{
        gap: 15px;
    }

    footer div#footerSuperior div#footerParceiros > div div#footerCards img{
        width: 90px;
        height: 50px;
    }
}
@media only screen and (min-width: 458px) and (max-width: 598px) {
    footer{
        padding: 40px;
    }

    footer div#footerSuperior{
        flex-direction: column;
        gap: 80px;
    }

    /* Parte Superior do Footer - Lado esquerdo */
    footer div#footerSuperior div#footerinformacoes{
        width: auto;
        gap: 35px;
    }

    footer div#footerSuperior h2{
        font-size: 25px;
    }

    footer div#footerSuperior div#footerinformacoes > div i{
        font-size: 15px;
    }

    footer div#footerSuperior div#footerinformacoes > div p, a{
        font-size: 13px;
    }
    
    /* Parte Superior do Footer - Lado direito */
    footer div#footerSuperior div#footerParceiros{
        gap: 35px;
    }

    footer div#footerSuperior div#footerParceiros > div{
        gap: 30px;
    }

    footer div#footerSuperior div#footerParceiros > div div#footerCards{
        flex-wrap: wrap;
        gap: 15px;
    }

    footer div#footerSuperior div#footerParceiros > div div#footerCards img{
        width: 90px;
        height: 50px;
    }
}
@media only screen and (min-width: 599px) and (max-width: 688px) {
    footer{
        padding: 40px;
    }

    /* Parte Superior do Footer - Lado esquerdo */
    footer div#footerSuperior{
        position: relative;
        height: 280px;
        gap: 50px;
    }

    footer div#footerSuperior div#footerinformacoes > div {
        justify-content: unset;
    }

    /* Parte Superior do Footer - Lado direito */
    footer div#footerSuperior div#footerParceiros{
        width: 200px;
    }

    footer div#footerSuperior div#footerParceiros > div div#footerCards{
        flex-wrap: wrap;
        gap: 30px;
    }

    footer div#footerSuperior div#footerParceiros > div div#footerCards img{
        width: 100px;
        height: 50px;
    }

    footer div#footerSuperior div#footerParceiros > div div#footerRedeSociais{
        position: absolute;
        left: 5%;
        bottom: 0;
    }
}
@media only screen and (min-width: 689px) and (max-width: 888px) {
    footer{
        padding: 60px 50px;
    }

    /* Parte Superior do Footer - Lado esquerdo */
    footer div#footerSuperior{
        gap: 60px;
    }

    footer div#footerSuperior div#footerinformacoes > div{
        height: 100%;
    }

    /* Parte Superior do Footer - Lado direito */
    footer div#footerSuperior div#footerParceiros > div div#footerCards{
        flex-wrap: wrap;
        gap: 15px 20px;
    }

    footer div#footerSuperior div#footerParceiros > div div#footerCards img{
        width: 100px;
        height: 50px;
    }
}
@media only screen and (min-width: 889px) and (max-width: 1008px) {
    footer{
        padding: 60px 50px;
    }

    /* Parte Superior do Footer - Lado direito */
    footer div#footerSuperior div#footerParceiros > div div#footerCards{
        gap: 25px;
    }

    footer div#footerSuperior div#footerParceiros > div div#footerCards img{
        width: 100px;
        height: 50px;
    }
}

/* Parte Inferior do Footer */
@media only screen and (max-width: 458px){
    footer div#footerInferior{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
}
@media only screen and (min-width: 459px) and (max-width: 558px){
    footer div#footerInferior{
        gap: 50px;
    }

    footer div#footerInferior p, div#footerInferior a{
        font-size: 12px;
    }
}
@media only screen and (min-width: 559px) and (max-width: 748px){
    footer div#footerInferior{
        gap: 50px;
    }
}