@import url('../base.css');

/* Contato */
section#section9{
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    scroll-margin-top: 80px; /* Faz com que o form não fique grudado com a parte de cima do site ao clicar no link interno que fica na nav (btn Solicitar Orçamento) */
}

section#section9 div{
    width: 530px;
}

section#section9 div h1{
    margin-bottom: 40px;
    line-height: 50px;
    font-size: 45px;
    font-family: var(--theSeasonBold);
    font-weight: 100;
    color: var(--Verde-petroleo-claro);
}

section#section9 div p{
    font-size: 30px;
    font-weight: 300;
    font-family: var(--openSans);
    color: var(--Branco);
}

section#section9 div span{
    font-weight: bold;
}

/* Formulário */ 
section#section9 form{
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
    gap: 20px;

    border-radius: 5px;
    padding: 30px 50px;
    background-color: var(--Verde-petroleo-claro);
    box-shadow: 10px 10px 0 0 var(--Branco);
}

section#section9 form div.form-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section#section9 form div.form-input label{
    font-family: var(--theSeasonBold);
    font-weight: 100;
    font-size: 25px;
    color: var(--Branco);
}

section#section9 form div.form-input input{
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: var(--Preto);
    transition: .3s ease;
}

section#section9 form div.form-input input:focus{
    outline: none;
    box-shadow: 5px 5px 0 0 var(--Cinza-neutro);
}

section#section9 form div.form-input input::placeholder{
    font-size: 15px;
    font-style: italic;
    font-family: var(--openSans);
    color: var(--Cinza-neutro);
}

section#section9 form div.form-input textarea{
    height: 100px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: var(--Preto);
    transition: .3s ease;
}

section#section9 form div.form-input textarea:focus{
    outline: none;
    box-shadow: 5px 5px 0 0 var(--Cinza-neutro);
}

section#section9 form div.form-input textarea::placeholder{
    font-size: 15px;
    font-style: italic;
    font-family: var(--openSans);
    color: var(--Cinza-neutro);
}

section#section9 form button{
    cursor: pointer;
    width: 200px;
    padding: 12px 0;
    border: 1px solid var(--Branco);
    border-radius: 5px;
    font-size: 25px;
    font-family: var(--openSans);
    letter-spacing: 2px;
    color: var(--Branco);
    background-color: transparent;
    transition: .3s ease;
}

section#section9 form button:hover{
    border: 1px solid var(--Verde-petroleo);
    background-color: var(--Verde-petroleo);
}