@import url('../base.css');

/* Media query */
@media screen and (max-width: 389px) {}
@media only screen and (min-width: 390px) and (max-width: 458px) {}
@media only screen and (min-width: 459px) and (max-width: 598px) {
    section#section4{
        padding: 40px 20px;
        align-items: center;
        flex-direction: column-reverse;
        gap: 120px;
    }

    section#section4 div#section4Imagens{
        width: 320px;
        height: 185px;
    }

    section#section4 div#section4Imagens{
        margin-left: 60px;
    }

    section#section4 img{
        width: 165px;
        height: 210px;
        top: -80px;
        left: -50px;
    }

    div#section4Texto h2{
        margin: 0 0 25px 10px;
        font-size: 35px;
    }

    div#section4Texto h2::after{
        height: 17px;
        width: 4px;
        top: 14px;
        left: -13px;
    }

    div#section4Texto p{
        font-size: 20px;
    }
}
@media only screen and (min-width: 599px) and (max-width: 768px) {
    section#section4{
        width: 100%;
        padding: 40px;
        align-items: center;
        flex-direction: column-reverse;
        gap: 120px;
    }

    section#section4 div#section4Imagens{
        width: 320px;
        height: 185px;
    }

    section#section4 div#section4Imagens{
        margin-left: 60px;
    }

    section#section4 img{
        width: 165px;
        height: 210px;
        top: -80px;
        left: -50px;
    }

    div#section4Texto{
        width: 480px;
    }

    div#section4Texto h2{
        font-size: 35px;
        margin-bottom: 25px;
    }

    div#section4Texto h2::after{
        height: 17px;
        width: 4px;
        top: 14px;
        left: -13px;
    }

    div#section4Texto p{
        font-size: 20px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 898px) {
    section#section4{
        gap: 100px;
        padding: 150px 60px 50px 60px;
    }

    section#section4 div#section4Imagens{
        min-width: 280px;
        height: 155px;
    }

    section#section4 img{
        width: 155px;
        height: 200px;
    }

    div#section4Texto{
        width: 80%;
        margin-top: -5%;
    }

    div#section4Texto h2{
        font-size: 30px;
        margin-bottom: 25px;
    }

    div#section4Texto h2::after{
        width: 4px;
        height: 18px;
        left: -12px;
        top: 12px;
    }

    div#section4Texto p{
        font-size: 18px;
    }
}
@media only screen and (min-width: 899px) and (max-width: 1008px) {
    section#section4{
        gap: 100px;
        padding: 150px 60px 50px 60px;
    }

    section#section4 div#section4Imagens{
        min-width: 320px;
        height: 205px;
    }

    section#section4 img{
        width: 185px;
        height: 241px;
    }

    div#section4Texto h2{
        font-size: 38px;
    }

    div#section4Texto p{
        font-size: 22px;
    }
}
@media only screen and (min-width: 1009px) and (max-width: 1280px) {
    section#section4{
        gap: 100px;
        padding: 150px 60px 50px 60px;
    }

    section#section4 div#section4Imagens{
        min-width: 380px;
        height: 205px;
    }

    section#section4 img{
        width: 185px;
        height: 241px;
    }

    div#section4Texto h2{
        font-size: 40px;
    }
}