@import url('../base.css');

/* Media query */
@media screen and (max-width: 389px) {
    section#section4{
        padding: 80px 10px 10px 10px;
        align-items: center;
        flex-direction: column-reverse;
        gap: 130px;
    }

    section#section4 div#section4Imagens{
        width: 210px;
        height: 125px;
    }

    section#section4 div#section4Imagens{
        margin-left: 40px;
    }

    section#section4 div#section4Imagens img{
        width: 125px;
        height: 150px;
        top: -80px;
        left: -50px;
    }

    section#section4 div#section4Texto h2{
        margin: 0 0 20px 20px;
        font-size: 30px;
    }

    section#section4 div#section4Texto h2::after{
        height: 17px;
        width: 4px;
        top: 14px;
        left: -13px;
    }

    section#section4 div#section4Texto p{
        margin-left: 25px;
        font-size: 14px;
    }
}
@media only screen and (min-width: 390px) and (max-width: 458px) {
    section#section4{
        padding: 80px 10px 10px 10px;
        align-items: center;
        flex-direction: column-reverse;
        gap: 120px;
    }

    section#section4 div#section4Imagens{
        width: 290px;
        height: 165px;
    }

    section#section4 div#section4Imagens{
        margin-left: 40px;
    }

    section#section4 div#section4Imagens img{
        width: 145px;
        height: 190px;
        top: -80px;
        left: -50px;
    }

    section#section4 div#section4Texto h2{
        margin: 0 0 15px 20px;
        font-size: 30px;
    }

    section#section4 div#section4Texto h2::after{
        height: 17px;
        width: 4px;
        top: 14px;
        left: -13px;
    }

    section#section4 div#section4Texto p{
        margin-left: 25px;
        font-size: 15px;
    }
}
@media only screen and (min-width: 459px) and (max-width: 598px) {
    section#section4{
        padding: 90px 20px 40px 20px;
        align-items: center;
        flex-direction: column-reverse;
        gap: 120px;
    }

    section#section4 div#section4Imagens{
        width: 320px;
        height: 185px;
    }

    section#section4 div#section4Imagens{
        margin-left: 60px;
    }

    section#section4 div#section4Imagens img{
        width: 165px;
        height: 210px;
        top: -80px;
        left: -50px;
    }

    section#section4 div#section4Texto h2{
        margin: 0 0 25px 10px;
        font-size: 35px;
    }

    section#section4 div#section4Texto h2::after{
        height: 17px;
        width: 4px;
        top: 14px;
        left: -13px;
    }

    section#section4 div#section4Texto p{
        font-size: 20px;
    }
}
@media only screen and (min-width: 599px) and (max-width: 768px) {
    section#section4{
        width: 100%;
        padding: 100px 40px 40px 40px;
        align-items: center;
        flex-direction: column-reverse;
        gap: 120px;
    }

    section#section4 div#section4Imagens{
        width: 320px;
        height: 185px;
        margin-left: 60px;
    }

    section#section4 div#section4Imagens img{
        width: 165px;
        height: 210px;
        top: -80px;
        left: -50px;
    }

    section#section4 div#section4Texto{
        width: 480px;
    }

    section#section4 div#section4Texto h2{
        font-size: 35px;
        margin-bottom: 25px;
    }

    section#section4 div#section4Texto h2::after{
        height: 17px;
        width: 4px;
        top: 14px;
        left: -13px;
    }

    section#section4 div#section4Texto p{
        font-size: 20px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 898px) {
    section#section4{
        gap: 40px;
        padding: 80px 50px 50px 50px;
    }

    section#section4 img#section4Imagens{
        margin-top: -2%;
        min-width: 300px;
        height: 200px;
    }

    section#section4 div#section4Texto{
        width: clamp(300px, 100%, 400px);
        margin-top: -5%;
    }

    section#section4 div#section4Texto h2{
        font-size: 30px;
        margin-bottom: 25px;
    }

    section#section4 div#section4Texto h2::after{
        width: 4px;
        height: 18px;
        left: -12px;
        top: 12px;
    }

    section#section4 div#section4Texto p{
        font-size: 15px;
    }
}
@media only screen and (min-width: 899px) and (max-width: 1008px) {
    section#section4{
        gap: 50px;
        padding: 100px 40px 50px 40px;
    }

    section#section4 img#section4Imagens{
        margin-top: -2%;
        min-width: 380px;
    }

    section#section4 div#section4Texto h2{
        font-size: 38px;
    }

    section#section4 div#section4Texto p{
        font-size: 20px;
    }
}
@media only screen and (min-width: 1009px) and (max-width: 1280px) {
    section#section4{
        gap: 80px;
        padding: 100px 60px 50px 60px;
    }

    section#section4 img#section4Imagens{
        margin-top: -2%;
        min-width: 380px;
    }

    section#section4 div#section4Texto{
        width: clamp(200px, 100%, 520px);
    }

    section#section4 div#section4Texto h2{
        font-size: 40px;
    }

    section#section4 div#section4Texto p{
        font-size: 22px;
    }
}