@import url('../base.css');

section#section4{
    display: flex;
    justify-self: center;
    gap: 120px;
    padding: 150px 0 60px 0;
}

section#section4 div#section4Imagens{
    position: relative;
    width: 420px;
    height: 245px;
    border-radius: 10px 0 10px 10px;
    background-color: antiquewhite;
}

section#section4 img{
    width: 195px;
    height: 281px;
    position: absolute;
    top: -100px;
    right: -50px;
    border-radius: 10px;
}

div#section4Texto{
    max-width: 613px;
}

div#section4Texto h2{
    position: relative;
    margin-bottom: 40px;
    font-size: 45px;
    font-family: var(--theSeasonBold);
    font-weight: 100;
    letter-spacing: 2px;
    color: var(--Branco);
}

div#section4Texto h2::after{
    content: " ";
    width: 5px;
    height: 20px;
    position: absolute;
    left: -15px;
    top: 20px;
    background-color: var(--Azul-petroleo-claro);
}

div#section4Texto p{
    font-size: 25px;
    color: var(--Branco);
    font-family: var(--openSans);
}

div#section4Texto p span{
    font-weight: bold;
}