@import url('../base.css');

section#section2{
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    font-family: var(--theSeasonBold);
    font-weight: 100;
    color: var(--Branco);
}

/* Serve p/todos os <p> da section2 */
section#section2 p{
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
}

section#section2 div#montandoQuebraCabeca{
    display: flex;
    align-items: center;
    gap: 50px;
}

section#section2 div#montandoQuebraCabeca div{
    min-width: 574px;
    height: 430px;
    border-radius: 20px;
    box-shadow: -5px 5px 10px 0 var(--Branco);
}

section#section2 div#exibindoLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

section#section2 div#exibindoLogo p{
    max-width: 870px;
}

/* Gif da logo sendo gerada */
section#section2 div#exibindoLogo img{
    width: 575px;
    height: 355px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px var(--Azul-petroleo-claro);
}