@import url('../base.css');

/* Media query */
@media screen and (max-width: 389px) {}
@media only screen and (min-width: 390px) and (max-width: 458px) {
    section#section3{
        padding: 50px 10px;
    }

    section#section3 h1{
        font-size: 30px;
        margin-bottom: 45px;
    }

    section#section3 div#section3-container{
        gap: 50px;
    }

    section#section3 div#section3-container div#section3-video{
        gap: 30px;
    }

    /* Vídeo do "Do que se trata?" */
    section#section3 div#section3-container div#section3-video img{
        max-width: 230px; 
        height: 140px;
    }

    section#section3 div#section3-container div#section3-video h3{
        font-size: 15px;
    }

    section#section3 div#section3-container div#section3-pecas p{
        text-align: center;
        font-size: 15px;
    }

    /* Onde ficará a parte interativa com as peças R, P e I */
    section#section3 div#section3-container div#section3-pecas div{
        width: 95%;
        height: 190px;
    }
}
@media only screen and (min-width: 459px) and (max-width: 598px) {
    section#section3{
        padding: 40px 20px;
    }

    section#section3 h1{
        font-size: 35px;
        margin-bottom: 45px;
    }

    section#section3 div#section3-container{
        gap: 60px;
    }

    section#section3 div#section3-container div#section3-video{
        gap: 30px;
    }

    /* Vídeo do "Do que se trata?" */
    section#section3 div#section3-container div#section3-video img{
        max-width: 230px; 
        height: 140px;
    }

    section#section3 div#section3-container div#section3-video h3{
        font-size: 18px;
    }

    section#section3 div#section3-container div#section3-pecas p{
        text-align: center;
        font-size: 15px;
    }

    /* Onde ficará a parte interativa com as peças R, P e I */
    section#section3 div#section3-container div#section3-pecas div{
        width: 95%;
        height: 270px;
    }
}
@media only screen and (min-width: 599px) and (max-width: 768px) {
    section#section3{
        padding: 40px;
    }

    section#section3 h1{
        font-size: 45px;
    }

    section#section3 div#section3-container{
        gap: 60px;
    }

    section#section3 div#section3-container div#section3-video{
        gap: 30px;
    }

    /* Vídeo do "Do que se trata?" */
    section#section3 div#section3-container div#section3-video img{
        min-width: 230px;
        height: 170px;
    }

    section#section3 div#section3-container div#section3-video h3{
        max-width: 400px;
        font-size: 24px;
    }

    section#section3 div#section3-container div#section3-pecas p{
        text-align: center;
        font-size: 20px;
    }

    /* Onde ficará a parte interativa com as peças R, P e I */
    section#section3 div#section3-container div#section3-pecas div{
        width: 95%;
        height: 300px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 958px) {
    section#section3{
        padding: 60px;
    }

    section#section3 div#section3-container{
        gap: 60px;
    }

    section#section3 div#section3-container div#section3-video{
        gap: 40px;
    }

    /* Vídeo do "Do que se trata?" */
    section#section3 div#section3-container div#section3-video img{
        min-width: 350px;
        height: 200px;
    }

    section#section3 div#section3-container div#section3-video h3{
        max-width: 400px;
        font-size: 30px;
    }

    section#section3 div#section3-container div#section3-pecas p{
        font-size: 22px;
    }

    /* Onde ficará a parte interativa com as peças R, P e I */
    section#section3 div#section3-container div#section3-pecas div{
        width: 100%;
        height: 350px;
    }
}
@media only screen and (min-width: 959px) and (max-width: 1280px) {
    section#section3 div#section3-container div#section3-video{
        gap: 50px;
    }

    /* Vídeo do "Do que se trata?" */
    section#section3 div#section3-container div#section3-video img{
        min-width: 400px;
        height: 300px;
    }

    section#section3 div#section3-container div#section3-video h3{
        max-width: 400px;
        font-size: 40px;
    }

    /* Onde ficará a parte interativa com as peças R, P e I */
    section#section3 div#section3-container div#section3-pecas div{
        width: 100%;
        height: 500px;
    }
}