@import url('../base.css');

/* Media query */
@media screen and (max-width: 389px) {
    #section2{
        padding: 20px;
        gap: 70px;
    }

    #montandoQuebraCabeca div{
        min-width: 275px;
        height: 130px;
    }

    #montandoQuebraCabeca{
        flex-direction: column-reverse;
        gap: 20px;
    }

    #montandoQuebraCabeca p{
        max-width: 540px;
    }

    /* Serve p/todos os <p> da section2 */
    #section2 p{
        font-size: 18px;
    }

    #exibindoLogo{
        gap: 20px;
    }

    #exibindoLogo p{
        max-width: 540px;
    }

    /* Gif da logo sendo gerada */
    #exibindoLogo img{
        width: 275px;
        height: 150px;
    }
}
@media only screen and (min-width: 390px) and (max-width: 458px) {
    #section2{
        padding: 40px;
        gap: 90px;
    }

    #montandoQuebraCabeca div{
        min-width: 325px;
        height: 180px;
    }

    #montandoQuebraCabeca{
        flex-direction: column-reverse;
        gap: 20px;
    }

    #montandoQuebraCabeca p{
        max-width: 540px;
    }

    /* Serve p/todos os <p> da section2 */
    #section2 p{
        font-size: 18px;
    }

    #exibindoLogo{
        gap: 20px;
    }

    #exibindoLogo p{
        max-width: 540px;
    }

    /* Gif da logo sendo gerada */
    #exibindoLogo img{
        width: 325px;
        height: 180px;
    }
}
@media only screen and (min-width: 459px) and (max-width: 598px) {
    #section2{
        padding: 40px;
        gap: 90px;
    }

    #montandoQuebraCabeca div{
        min-width: 374px;
        height: 230px;
    }

    #montandoQuebraCabeca{
        flex-direction: column-reverse;
        gap: 20px;
    }

    #montandoQuebraCabeca p{
        max-width: 540px;
    }

    /* Serve p/todos os <p> da section2 */
    #section2 p{
        font-size: 20px;
    }

    #exibindoLogo{
        gap: 20px;
    }

    #exibindoLogo p{
        max-width: 540px;
    }

    /* Gif da logo sendo gerada */
    #exibindoLogo img{
        width: 375px;
        height: 180px;
    }
}
@media only screen and (min-width: 599px) and (max-width: 768px) {
    #section2{
        padding: 40px;
        gap: 60px;
    }

    #montandoQuebraCabeca div{
        min-width: 374px;
        height: 230px;
    }

    #montandoQuebraCabeca{
        flex-direction: column-reverse;
        gap: 20px;
    }

    #montandoQuebraCabeca p{
        max-width: 540px;
    }

    /* Serve p/todos os <p> da section2 */
    #section2 p{
        font-size: 20px;
    }

    #exibindoLogo{
        gap: 20px;
    }

    #exibindoLogo p{
        max-width: 540px;
    }

    /* Gif da logo sendo gerada */
    #exibindoLogo img{
        width: 475px;
        height: 255px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 998px) {
    #section2{
        padding: 40px;
        gap: 60px;
    }

    #montandoQuebraCabeca div{
        min-width: 374px;
        height: 230px;
    }

    #montandoQuebraCabeca{
        gap: 30px;
    }

    /* Serve p/todos os <p> da section2 */
    #section2 p{
        font-size: 22px;
    }

    #exibindoLogo p{
        max-width: 570px;
    }

    /* Gif da logo sendo gerada */
    #exibindoLogo img{
        width: 475px;
        height: 255px;
    }
}
@media only screen and (min-width: 999px) and (max-width: 1150px) {
    #montandoQuebraCabeca div{
        min-width: 474px;
        height: 330px;
    }

    /* Gif da logo sendo gerada */
    #exibindoLogo img{
        width: 475px;
        height: 255px;
    }
}