@import url('../base.css');

/* Media query */
@media screen and (max-width: 389px) {
    section#section3{
        padding: 50px 10px;
    }

    section#section3 h1{
        font-size: 25px;
        margin-bottom: 20px;
    }

    section#section3 div#section3-container{
        gap: 60px;
    }

    section#section3 div#section3-container div#section3-video{
        flex-direction: column;
        gap: 30px;
    }

    /* Vídeo do "Do que se trata?" */
    section#section3 div#section3-container div#section3-video video{
        max-width: 90%; 
        height: 180px;
    }

    section#section3 div#section3-container div#section3-video h3{
        width: clamp(280px, 100%, 320px); /* Indica que a o conteúdo ocupará 100% do espaço disponível, espaço esse que vai variar entre 280px - 320px */
        text-align: center;
        font-size: 12px;
    }

    section#section3 div#section3-container div#section3-pecas div#section8Paragrafo p{
        width: 290px;
        font-size: 20px;
    }

    section#section3 div#section3-container div#section3-pecas div#section8Paragrafo p:nth-child(2){
        margin-top: 10px;
    }

    /* Onde ficará a parte interativa com as peças R, P e I */
    section#section3 div#section3-container div#section3-pecas div#conteinarPecas{
        width: 95%;
        min-height: 350px;
        background: url('../../Imagens/Quebra-cabeça/fundoPecasPadrao5.jpg');
        background-position: center;
    }

    /* Peça - Resultado */
    section#section3 div#section3-container div#section3-pecas div#contentPecas img:nth-child(1){
        height: 90px;
        transform: translateX(22px);
    }

    section#section3 div#section3-container div#section3-pecas div div#contentPecas img:nth-child(1):hover{
        transform: translateX(0px);
    }

    /* Peça - Performance */
    section#section3 div#section3-container div#section3-pecas div#contentPecas img:nth-child(2){
        height: 73px;
        z-index: 2;
    }

    section#section3 div#section3-container div#section3-pecas div div#contentPecas img:nth-child(2):hover{
        transform: translateY(-25px);
    }

    /* Peça - Interferência */
    section#section3 div#section3-container div#section3-pecas div#contentPecas img:nth-child(3){
        height: 90px;
        transform: translateX(-22px);
    }

    section#section3 div#section3-container div#section3-pecas div div#contentPecas img:nth-child(3):hover{
        transform: translateX(0);
    }

    section#section3 div#section3-container div#section3-pecas div#conteinarPecas div.pecaInformacao{
        width: 99%;
        height: auto;
        padding: 10px 20px;
    }

    /* Caixa do título + parágrafo + Btn-SaibaMais */
    section#section3 div#section3-container div#section3-pecas div#conteinarPecas div.pecaInformacao div.containerInfo{
        gap: 20px;
    }

    /* Conteúdos das peças - Título default */
    div#conteinarPecas div.pecaInformacao div.containerInfo p.conteudoTitulo{
        font-size: 20px;
    }

    /* Conteúdos das peças - Parágrafo default */
    div#conteinarPecas div.pecaInformacao div.containerInfo p#pecaParagrafoPadrao{
        font-size: 11px;
    }

    /* Conteúdos das peças - Parágrafo Resultado, Performance e Interferência */
    div#conteinarPecas div.pecaInformacao div.containerInfo p.pecaParagrafo{
        font-size: 12px;
    }

    /* Config Padrão - Botão "Saiba Mais" */
    div#conteinarPecas div.pecaInformacao div.containerInfo > button {
        padding: 10px 25px;
        font-size: 12px;
    }

    /* Modal */
    div#conteinarPecas div.modal div.modalPeca{
        width: 250px;
        padding: 10px;
        gap: 10px;
    }

    div#conteinarPecas div.modal div.modalPeca p{
        font-size: 12px;
    }
}
@media only screen and (min-width: 390px) and (max-width: 458px) {
    section#section3{
        padding: 50px 10px;
    }

    section#section3 h1{
        font-size: 30px;
        margin-bottom: 45px;
    }

    section#section3 div#section3-container{
        gap: 80px;
    }

    section#section3 div#section3-container div#section3-video{
        flex-direction: column;
        gap: 30px;
    }

    /* Vídeo do "Do que se trata?" */
    section#section3 div#section3-container div#section3-video video{
        width: 350px; 
        height: 200px;
    }

    section#section3 div#section3-container div#section3-video h3{
        width: 340px;
        text-align: center;
        font-size: 16px;
    }

    section#section3 div#section3-container div#section3-pecas div#section8Paragrafo p{
        width: 300px;
        font-size: 20px;
    }

    section#section3 div#section3-container div#section3-pecas div#section8Paragrafo p:nth-child(2){
        margin-top: 10px;
    }

    /* Onde ficará a parte interativa com as peças R, P e I */
    section#section3 div#section3-container div#section3-pecas div#conteinarPecas{
        width: 90%;
        min-height: 300px;
        background: url('../../Imagens/Quebra-cabeça/fundoPecasPadrao4.jpg');
        background-position: center;
    }

    /* Peça - Resultado */
    section#section3 div#section3-container div#section3-pecas div#contentPecas img:nth-child(1){
        height: 118px;
        transform: translateX(28px);
    }

    section#section3 div#section3-container div#section3-pecas div div#contentPecas img:nth-child(1):hover{
        transform: translateX(-2px);
    }

    /* Peça - Performance */
    section#section3 div#section3-container div#section3-pecas div#contentPecas img:nth-child(2){
        height: 95px;
        z-index: 2;
    }

    section#section3 div#section3-container div#section3-pecas div div#contentPecas img:nth-child(2):hover{
        transform: translateY(-25px);
    }

    /* Peça - Interferência */
    section#section3 div#section3-container div#section3-pecas div#contentPecas img:nth-child(3){
        height: 118px;
        transform: translateX(-28px);
    }

    section#section3 div#section3-container div#section3-pecas div div#contentPecas img:nth-child(3):hover{
        transform: translateX(2px);
    }

    section#section3 div#section3-container div#section3-pecas div#conteinarPecas div.pecaInformacao{
        width: 100%;
        height: auto;
        padding: 10px 20px;
    }

    /* Caixa do título + parágrafo + Btn-SaibaMais */
    section#section3 div#section3-container div#section3-pecas div#conteinarPecas div.pecaInformacao div.containerInfo{
        gap: 20px;
    }

    /* Conteúdos das peças - Título default */
    div#conteinarPecas div.pecaInformacao div.containerInfo p.conteudoTitulo{
        font-size: 25px;
    }

    /* Conteúdos das peças - Parágrafo default */
    div#conteinarPecas div.pecaInformacao div.containerInfo p#pecaParagrafoPadrao{
        font-size: 14px;
    }

    /* Conteúdos das peças - Parágrafo Resultado, Performance e Interferência */
    div#conteinarPecas div.pecaInformacao div.containerInfo p.pecaParagrafo{
        font-size: 14px;
    }

    /* Config Padrão - Botão "Saiba Mais" */
    div#conteinarPecas div.pecaInformacao div.containerInfo > button {
        padding: 10px 25px;
        font-size: 12px;
    }

    /* Modal */
    div#conteinarPecas div.modal div.modalPeca{
        width: 290px;
        padding: 10px;
        gap: 10px;
    }

    div#conteinarPecas div.modal div.modalPeca p{
        font-size: 12px;
    }
}
@media only screen and (min-width: 459px) and (max-width: 598px) {
    section#section3{
        padding: 40px 20px;
    }

    section#section3 h1{
        font-size: 35px;
        margin-bottom: 45px;
    }

    section#section3 div#section3-container{
        gap: 80px;
    }

    section#section3 div#section3-container div#section3-video{
        flex-direction: column;
        gap: 30px;
    }

    /* Vídeo do "Do que se trata?" */
    section#section3 div#section3-container div#section3-video video{
        width: 350px; 
        height: 200px;
    }

    section#section3 div#section3-container div#section3-video h3{
        width: 430px;
        text-align: center;
        font-size: 15px;
    }

    section#section3 div#section3-container div#section3-pecas div#section8Paragrafo p{
        width: 360px;
        font-size: 25px;
    }

    section#section3 div#section3-container div#section3-pecas div#section8Paragrafo p:nth-child(2){
        margin-top: 10px;
    }

    /* Onde ficará a parte interativa com as peças R, P e I */
    section#section3 div#section3-container div#section3-pecas div#conteinarPecas{
        width: 100%;
        min-height: 300px;
        background: url('../../Imagens/Quebra-cabeça/fundoPecasPadrao3.jpg');
        background-position: center;
    }

    /* Peça - Resultado */
    section#section3 div#section3-container div#section3-pecas div#contentPecas img:nth-child(1){
        height: 139px;
        transform: translateX(33px);
    }

    section#section3 div#section3-container div#section3-pecas div div#contentPecas img:nth-child(1):hover{
        transform: translateX(-5px);
    }

    /* Peça - Performance */
    section#section3 div#section3-container div#section3-pecas div#contentPecas img:nth-child(2){
        height: 113px;
        z-index: 2;
    }

    section#section3 div#section3-container div#section3-pecas div div#contentPecas img:nth-child(2):hover{
        transform: translateY(-25px);
    }

    /* Peça - Interferência */
    section#section3 div#section3-container div#section3-pecas div#contentPecas img:nth-child(3){
        height: 139px;
        transform: translateX(-33px);
    }

    section#section3 div#section3-container div#section3-pecas div div#contentPecas img:nth-child(3):hover{
        transform: translateX(5px);
    }

    section#section3 div#section3-container div#section3-pecas div#conteinarPecas div.pecaInformacao{
        width: 90%;
        height: auto;
        padding: 10px;
    }

    /* Caixa do título + parágrafo + Btn-SaibaMais */
    section#section3 div#section3-container div#section3-pecas div#conteinarPecas div.pecaInformacao div.containerInfo{
        gap: 20px;
    }

    /* Conteúdos das peças - Título default */
    div#conteinarPecas div.pecaInformacao div.containerInfo p.conteudoTitulo{
        font-size: 28px;
    }

    /* Conteúdos das peças - Parágrafo default */
    div#conteinarPecas div.pecaInformacao div.containerInfo p#pecaParagrafoPadrao{
        font-size: 16px;
    }

    /* Conteúdos das peças - Parágrafo Resultado, Performance e Interferência */
    div#conteinarPecas div.pecaInformacao div.containerInfo p.pecaParagrafo{
        font-size: 14px;
    }

    /* Modal */
    div#conteinarPecas div.modal div.modalPeca{
        width: 380px;
        padding: 20px;
        gap: 10px;
    }

    div#conteinarPecas div.modal div.modalPeca p{
        font-size: 15px;
    }
}
@media only screen and (min-width: 599px) and (max-width: 768px) {
    section#section3{
        padding: 40px;
    }

    section#section3 h1{
        font-size: 45px;
    }

    section#section3 div#section3-container{
        gap: 90px;
    }

    section#section3 div#section3-container p.section3-texto{
        font-size: 25px;
    }

    section#section3 div#section3-container div#section3-video{
        flex-direction: column;
        gap: 40px;
    }

    /* Vídeo do "Do que se trata?" */
    section#section3 div#section3-container div#section3-video video{
        width: 500px;
        height: 300px;
    }

    section#section3 div#section3-container div#section3-video p.section3-video-texto{
        padding-left: 20px;
        font-size: 20px;
    }

    section#section3 div#section3-container div#section3-pecas div#section8Paragrafo p:nth-child(2){
        margin-top: 10px;
    }

    /* Onde ficará a parte interativa com as peças R, P e I */
    section#section3 div#section3-container div#section3-pecas div#conteinarPecas{
        width: 100%;
        background: url('../../Imagens/Quebra-cabeça/fundoPecasPadrao2.jpg');
        background-position: center;
    }

    /* Caixa que engloba a caixa do título + parágrafo + Btn-SaibaMais */
    section#section3 div#section3-container div#section3-pecas div#conteinarPecas div.pecaInformacao{
        width: 450px;
        padding: 10px 20px 20px;
    }

    /* Conteúdos das peças - Título default */
    div#conteinarPecas div.pecaInformacao div.containerInfo p.conteudoTitulo{
        font-size: 32px;
    }

    /* Conteúdos das peças - Parágrafo default */
    div#conteinarPecas div.pecaInformacao div.containerInfo p#pecaParagrafoPadrao{
        font-size: 20px;
    }

    /* Conteúdos das peças - Parágrafo Resultado, Performance e Interferência */
    div#conteinarPecas div.pecaInformacao div.containerInfo p.pecaParagrafo{
        font-size: 16px;
    }

    /* Modal */
    div#conteinarPecas div.modal div.modalPeca{
        width: 520px;
        padding: 20px;
    }

    div#conteinarPecas div.modal div.modalPeca p{
        font-size: 15px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 958px) {
    section#section3{
        padding: 40px;
    }

    section#section3 div#section3-container{
        gap: 90px;
    }

    section#section3 div#section3-container p.section3-texto{
        font-size: 25px;
    }

    section#section3 div#section3-container div#section3-video{
        gap: 30px;
    }

    /* Vídeo do "Do que se trata?" */
    section#section3 div#section3-container div#section3-video video{
        max-width: 350px;
        height: 230px;
    }

    section#section3 div#section3-container div#section3-video p.section3-video-texto{
        min-width: 300px;
        font-size: 18px;
    }

    section#section3 div#section3-container div#section3-pecas div#section8Paragrafo p{
        font-size: 26px;
    }

    /* Onde ficará a parte interativa com as peças R, P e I */
    section#section3 div#section3-container div#section3-pecas div#conteinarPecas{
        width: 700px;
    }

    div#conteinarPecas div.modal div.modalPeca{
        max-width: 600px;
        gap: 10px;
    }
}
@media only screen and (min-width: 959px) and (max-width: 1280px) {
    section#section3 div#section3-container div#section3-video{
        gap: 50px;
    }
    
    /* Vídeo do "Do que se trata?" */
    section#section3 div#section3-container div#section3-video video{
        min-width: 450px;
        height: 300px;
    }
    
    section#section3 div#section3-container div#section3-video p.section3-video-texto{
        min-width: 380px;
        font-size: 20px;
    }
}