@import url('../base.css');

section#section3{
    gap: 60px;
    padding: 50px 60px;
    background-color: var(--Branco);

    scroll-margin-top: 80px; /* Faz com que o form não fique grudado com a parte de cima do site ao clicar no link interno que fica na nav (btn Solicitar Orçamento) */
}

section#section3 h1{
    margin-bottom: 60px;
    text-align: center;
    font-size: 60px;
    font-family: var(--theSeasonBold);
    font-weight: 100;
    color: var(--Verde-petroleo);
}

section#section3 div#section3-container{
    display: flex;
    flex-direction: column;
    gap: 120px;
}

section#section3 div#section3-container div#section3-video{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

/* Vídeo do "Do que se trata?" */
section#section3 div#section3-container div#section3-video video{
    width: 650px;
    height: 400px;
    border-radius: 10px;
    box-shadow: -10px 10px 4px 0 var(--Azul-petroleo-claro);
    object-fit: cover;
}

section#section3 div#section3-container div#section3-video h3{
    width: clamp(488px, 100%, 530px); /* Indica que a o conteúdo ocupará 100% do espaço disponível, espaço esse que vai variar entre 500px - 530px*/
    font-size: 28px;
    font-family: var(--theSeasonBold);
    font-weight: 600;
    font-style: italic;
    letter-spacing: 3px;
    color: var(--Verde-petroleo-claro);
}

section#section3 div#section3-container div#section3-pecas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Onde ficará a parte interativa com as peças R, P e I */
section#section3 div#section3-container div#section3-pecas div#conteinarPecas{
    width: 750px;
    min-height: 500px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background: url('../../Imagens/Quebra-cabeça/fundoPecasPadrao.jpg');
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: 0 0 20px 0 var(--Cinza-neutro);

    transition: background-image 0.5s ease-in-out;
    position: relative;
}

section#section3 div#section3-container div#section3-pecas div div#contentPecas{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: baseline;
}

/* Imagem das peças de quebra-cabeça */
section#section3 div#section3-container div#section3-pecas div#contentPecas img{
    cursor: pointer;
    transition: .3s ease;
}

/* Peça - Resultado */
section#section3 div#section3-container div#section3-pecas div#contentPecas img:nth-child(1){
    height: 139px;
    transform: translateX(32px);
}

section#section3 div#section3-container div#section3-pecas div div#contentPecas img:nth-child(1):hover{
    transform: translateX(-5px);
}

/* Peça - Performance */
section#section3 div#section3-container div#section3-pecas div#contentPecas img:nth-child(2){
    height: 113px;
    z-index: 2;
}

section#section3 div#section3-container div#section3-pecas div div#contentPecas img:nth-child(2):hover{
    transform: translateY(-60px);
}

/* Peça - Interferência */
section#section3 div#section3-container div#section3-pecas div#contentPecas img:nth-child(3){
    height: 139px;
    transform: translateX(-32px);
}

section#section3 div#section3-container div#section3-pecas div div#contentPecas img:nth-child(3):hover{
    transform: translateX(5px);
}

/* Caixa que engloba a caixa do título + parágrafo + Btn-SaibaMais */
section#section3 div#section3-container div#section3-pecas div#conteinarPecas div.pecaInformacao{
    display: none;
    width: 550px;
    border: 3px solid var(--Cinza-neutro);
    border-radius: 30px;
    padding: 10px 30px 20px;
    background-color: var(--Branco);
}

section#section3 div#section3-container div#section3-pecas div#conteinarPecas div#caixaResultado{
    border: 3px solid var(--Preto);
}

section#section3 div#section3-container div#section3-pecas div#conteinarPecas div#caixaPerformance{ 
    border: 3px solid var(--Azul-claro);
}

section#section3 div#section3-container div#section3-pecas div#conteinarPecas div#caixaInterferencia{
    border: 3px solid var(--Vermelho);
}

/* Caixa do título + parágrafo + Btn-SaibaMais */
section#section3 div#section3-container div#section3-pecas div#conteinarPecas div.pecaInformacao div.containerInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

/* Conteúdos das peças - Título default */
div#conteinarPecas div.pecaInformacao div.containerInfo p.conteudoTitulo{
    font-size: 40px;
    color: var(--Cinza-neutro) !important;
    font-family: var(--theSeasonBold);
}

/* Conteúdos das peças - Parágrafo default */
div#conteinarPecas div.pecaInformacao div.containerInfo p#pecaParagrafoPadrao{
    text-align: center;
    font-size: 25px;
    font-family: var(--openSans);
    color: var(--Preto);
}

/* Conteúdos das peças - Parágrafo Resultado, Performance e Interferência */
div#conteinarPecas div.pecaInformacao div.containerInfo p.pecaParagrafo{
    text-align: center;
    font-size: 18px;
    font-family: var(--openSans);
    color: var(--Preto);
}

/* Resultado - Título */
div#conteinarPecas div.pecaInformacao div.containerInfo > p#resultado > span{
    color: var(--Preto);
    position: relative;
}

div#conteinarPecas div.pecaInformacao div.containerInfo > p#resultado > span::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: " ";
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--Preto);
}

/* Performance - Título */
div#conteinarPecas div.pecaInformacao div.containerInfo > p#performance > span{
    color: var(--Azul-claro);
    position: relative;
}

div#conteinarPecas div.pecaInformacao div.containerInfo > p#performance > span::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: " ";
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--Azul-claro);
}

/* Interferência - Título */
div#conteinarPecas div.pecaInformacao div.containerInfo > p#interferencia > span{
    color: var(--Vermelho);
    position: relative;
}

div#conteinarPecas div.pecaInformacao div.containerInfo > p#interferencia > span::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: " ";
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--Vermelho);
}

/* Config Default - Botão "Saiba Mais" */
div#conteinarPecas div.pecaInformacao div.containerInfo > button {
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 35px;
    font-size: 15px;
    font-family: var(--theSeasonBold);
    transition: .3s ease;
}

/* Resultado - Botão "Saiba Mais" */
button#btn-resultado{
    border: 3px solid var(--Preto);
    background-color: var(--Branco);
}

div#conteinarPecas div.pecaInformacao div.containerInfo > button#btn-resultado:hover{
    color: var(--Branco);
    background-color: var(--Preto);
}

div#conteinarPecas div.pecaInformacao div.containerInfo > button#btn-resultado:active{
    border: none;
    border: 3px solid var(--Cinza-neutro);
    background-color: var(--Cinza-neutro);
}

/* Performance - Botão "Saiba Mais" */
div#conteinarPecas div.pecaInformacao div.containerInfo > button#btn-performance{
    border: 3px solid var(--Azul-claro);
    color: var(--Azul-claro);
    background-color: var(--Branco);
}

div#conteinarPecas div.pecaInformacao div.containerInfo > button#btn-performance:hover{
    color: var(--Branco);
    background-color: var(--Azul-claro);
}

div#conteinarPecas div.pecaInformacao div.containerInfo > button#btn-performance:active{
    border: none;
    border: 3px solid var(--Cinza-neutro);
    background-color: var(--Cinza-neutro);
}

/* Interferência - Botão "Saiba Mais" */
div#conteinarPecas div.pecaInformacao div.containerInfo > button#btn-interferencia{
    border: 3px solid var(--Vermelho);
    color: var(--Vermelho);
    background-color: var(--Branco);
}

div#conteinarPecas div.pecaInformacao div.containerInfo > button#btn-interferencia:hover{
    color: var(--Branco);
    background-color: var(--Vermelho);
}

div#conteinarPecas div.pecaInformacao div.containerInfo > button#btn-interferencia:active{
    border: none;
    border: 3px solid var(--Cinza-neutro);
    background-color: var(--Cinza-neutro);
}

/* Modal - Configuração padrão */
div#conteinarPecas div.modal{
    z-index: 3;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#conteinarPecas div.modal div.modalPeca{
    width: 600px;
    max-height: fit-content;
    border: 2px solid var(--Preto);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--Branco);
}

div#conteinarPecas div.modal div.modalPeca p{
    font-size: 15px;
    font-family: var(--openSans);
    color: var(--Preto);
}

div#conteinarPecas div.modal div.modalPeca button.sairModal{
    cursor: pointer;
    position: relative;
    border: none;
    font-size: 18px;
    font-family: var(--theSeasonBold);
    color: var(--Vermelho);
    background-color: transparent;
}

div#conteinarPecas div.modal div.modalPeca button.sairModal::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: " ";
    width: 0;
    height: 2px;
    border-radius: 5px;
    background-color: var(--Vermelho);
    transition: .3s ease;
}

div#conteinarPecas div.modal div.modalPeca button.sairModal:hover::after{
    width: 100%;
}

/* Modal - Interferência */
div#conteinarPecas div#modal-Interferencia{
    transform: translate(-50%, -50%);
}

/* Serve para escurecer o fundo quando abrir o modal */
#escurecer{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    background-color: #000000bd;
}