@import url('../base.css');

section#section4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 150px 0 60px 0;
    scroll-margin-top: 80px; /* Faz com que o form não fique grudado com a parte de cima do site ao clicar no link interno que fica na nav (btn Solicitar Orçamento) */
}

section#section4 img#section4Imagens{
    width: 520px;
    height: 345px;
    border-radius: 10px;
    box-shadow: -6px 6px 10px 0 var(--Verde-petroleo-claro);
}

section#section4 div#section4Texto{
    max-width: 613px;
}

section#section4 div#section4Texto h2{
    position: relative;
    margin-bottom: 40px;
    font-size: 45px;
    font-family: var(--theSeasonBold);
    font-weight: 100;
    letter-spacing: 2px;
    color: var(--Branco);
}

section#section4 div#section4Texto h2::after{
    content: " ";
    width: 5px;
    height: 20px;
    position: absolute;
    left: -15px;
    top: 20px;
    border-radius: 5px;
    background-color: var(--Azul-petroleo-claro);
}

section#section4 div#section4Texto p{
    font-size: 25px;
    letter-spacing: 1px;
    color: var(--Branco);
    font-family: var(--openSans);
}

section#section4 div#section4Texto p span{
    font-weight: bold;
}