@import url('../base.css');

/* Media query */
@media screen and (max-width: 389px) {}
@media only screen and (min-width: 390px) and (max-width: 458px) {}
@media only screen and (min-width: 459px) and (max-width: 598px) {
    section#section8{
        padding: 40px;
    }

    section#section8 h1{
        font-size: 35px;
    }

    section#section8 div#section8Cards{
        width: 260px;
        gap: 20px;
        justify-content: left;
        overflow-x: hidden;
    }

    section#section8 div#section8Cards div.section8Depoimentos{
        min-width: 260px;
        height: 300px;
    }

    section#section8 div#section8BotoesCarrossel{
        width: 80%;
    }

    section#section8 div#section8BotoesCarrossel i{
        display: block;
    }
}
@media only screen and (min-width: 599px) and (max-width: 768px) {
    section#section8{
        padding: 40px;
    }

    section#section8 h1{
        font-size: 45px;
    }

    section#section8 div#section8Cards{
        width: 480px;
        gap: 20px;
        justify-content: left;
        overflow-x: hidden;
    }

    section#section8 div#section8Cards div.section8Depoimentos{
        min-width: 230px;
        height: 350px;
    }

    section#section8 div#section8BotoesCarrossel i{
        display: block;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1280px) {
    section#section8 div#section8Cards{
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }
}