@import url('../base.css');

/* Media query */
@media screen and (max-width: 389px) {}
@media only screen and (min-width: 390px) and (max-width: 458px) {}
@media only screen and (min-width: 459px) and (max-width: 598px) {}
@media only screen and (min-width: 599px) and (max-width: 768px) {}
@media only screen and (min-width: 769px) and (max-width: 1008px) {}
@media only screen and (min-width: 1009px) and (max-width: 1280px) {
    /* Contato */
    section#section9{
        padding: 60px 50px;
    }

    section#section9 div{
        min-width: 420px;
    }

    /* Formulário */ 
    section#section9 form{
        max-width: 80%;
    }
}