@import url('../base.css');

/* Media query */
@media screen and (max-width: 389px) {
    section#section3{
        padding: 50px 10px;
    }

    section#section3 h1{
        font-size: 25px;
        margin-bottom: 20px;
    }

    section#section3 div#section3-container{
        gap: 60px;
    }

    section#section3 div#section3-container div#section3-video{
        flex-direction: column;
        gap: 30px;
    }

    /* Vídeo do "Do que se trata?" */
    section#section3 div#section3-container div#section3-video video{
        max-width: 90%; 
        height: 180px;
    }

    section#section3 div#section3-container div#section3-video h3{
        width: clamp(280px, 100%, 320px); /* Indica que a o conteúdo ocupará 100% do espaço disponível, espaço esse que vai variar entre 280px - 320px */
        text-align: center;
        font-size: 12px;
    }

    section#section3 div#section3-container div#section3-pecas {
        flex-direction: column-reverse;
    }

    section#section3 div#section3-container div#section3-pecas p{
        text-align: center;
        font-size: 12px;
    }

    section#section3 div#section3-container div#section3-pecas div{
        width: 100%;
        height: auto;
        padding: 15px 10px;
    }

    /* Onde ficará a parte interativa com as peças R, P e I */
    section#section3 div#section3-container div#section3-pecas div#conteinarPecas{
        width: 90%;
        height: 390px;
        gap: 0;
    }

    /* Peça Resultado e Interferência */
    section#section3 div#section3-container div#section3-pecas div div#contentPecas img{
        height: 100px;
        width: 65px;
    }

    /* Peça Performance */
    section#section3 div#section3-container div#section3-pecas div div#contentPecas img#pecaQC_Perfor{
        width: 105px;
        height: 75px;
    }

    section#section3 div#section3-container div#section3-pecas div#conteinarPecas div.pecaInformacao{
        width: 90%;
        height: auto;
        padding: 10px;
    }

    div#conteinarPecas div.pecaInformacao div.containerInfo > p{
        font-size: 18px !important;
    }

    div#conteinarPecas div.pecaInformacao div.containerInfo > p.pecaParagrafo{
        font-size: 11px !important;
    }

    /* Config Padrão - Botão "Saiba Mais" */
    div#conteinarPecas div.pecaInformacao div.containerInfo > button {
        padding: 10px 25px;
        font-size: 12px;
    }

    /* Modal */
    div#conteinarPecas div.modal{
        transform: translate(-50%, -50%);
    }

    div#conteinarPecas div.modal div.modalPeca{
        padding: 20px;
    }

    div#conteinarPecas div.modal div.modalPeca p{
        font-size: 12px !important;
    }

    /* Interferência - Modal */
    div#conteinarPecas div#modal-Interferencia{ 
        transform: translate(-50%, -54%);
    }
}
@media only screen and (min-width: 390px) and (max-width: 458px) {
    section#section3{
        padding: 50px 10px;
    }

    section#section3 h1{
        font-size: 30px;
        margin-bottom: 45px;
    }

    section#section3 div#section3-container{
        gap: 50px;
    }

    section#section3 div#section3-container div#section3-video{
        flex-direction: column;
        gap: 30px;
    }

    /* Vídeo do "Do que se trata?" */
    section#section3 div#section3-container div#section3-video video{
        width: 350px; 
        height: 200px;
    }

    section#section3 div#section3-container div#section3-video h3{
        width: 340px;
        text-align: center;
        font-size: 14px;
    }

    section#section3 div#section3-container div#section3-pecas{
        flex-direction: column-reverse
    }

    section#section3 div#section3-container div#section3-pecas p{
        text-align: center;
        font-size: 15px;
    }

    section#section3 div#section3-container div#section3-pecas div{
        width: 100%;
    }

    /* Onde ficará a parte interativa com as peças R, P e I */
    section#section3 div#section3-container div#section3-pecas div#conteinarPecas{
        width: 90%;
        height: 400px;
    }

    /* Peça Resultado e Interferência */
    section#section3 div#section3-container div#section3-pecas div div#contentPecas img{
        height: 120px;
        width: 85px;
    }

    /* Peça Performance */
    section#section3 div#section3-container div#section3-pecas div div#contentPecas img#pecaQC_Perfor{
        width: 125px;
        height: 95px;
    }

    section#section3 div#section3-container div#section3-pecas div#conteinarPecas div.pecaInformacao{
        width: 90%;
        height: auto;
        padding: 10px;
    }

    div#conteinarPecas div.pecaInformacao div.containerInfo > p{
        font-size: 20px !important;
    }

    div#conteinarPecas div.pecaInformacao div.containerInfo > p.pecaParagrafo{
        font-size: 12px !important;
    }

    /* Config Padrão - Botão "Saiba Mais" */
    div#conteinarPecas div.pecaInformacao div.containerInfo > button {
        padding: 10px 25px;
        font-size: 12px;
    }

    /* Modal */
    div#conteinarPecas div.modal{
        transform: translate(-50%, -45%);
    }

    div#conteinarPecas div.modal div.modalPeca{
        padding: 20px;
    }

    div#conteinarPecas div.modal div.modalPeca p{
        font-size: 13px !important;
    }

    /* Interferência - Modal */
    div#conteinarPecas div#modal-Interferencia{ 
        transform: translate(-50%, -55%);
    }
}
@media only screen and (min-width: 459px) and (max-width: 598px) {
    section#section3{
        padding: 40px 20px;
    }

    section#section3 h1{
        font-size: 35px;
        margin-bottom: 45px;
    }

    section#section3 div#section3-container{
        gap: 60px;
    }

    section#section3 div#section3-container div#section3-video{
        flex-direction: column;
        gap: 30px;
    }

    /* Vídeo do "Do que se trata?" */
    section#section3 div#section3-container div#section3-video video{
        width: 350px; 
        height: 200px;
    }

    section#section3 div#section3-container div#section3-video h3{
        width: 430px;
        text-align: center;
        font-size: 15px;
    }

    section#section3 div#section3-container div#section3-pecas{
        flex-direction: column-reverse;
    }

    /* Onde ficará a parte interativa com as peças R, P e I */
    section#section3 div#section3-container div#section3-pecas div#conteinarPecas{
        width: 100%;
        min-height: 300px;
    }

    /* Peça - Resultado */
    section#section3 div#section3-container div#section3-pecas div#contentPecas img:nth-child(1){
        height: 119px;
        transform: translateX(28px);
    }

    section#section3 div#section3-container div#section3-pecas div div#contentPecas img:nth-child(1):hover{
        transform: translateX(-5px);
    }

    /* Peça - Performance */
    section#section3 div#section3-container div#section3-pecas div#contentPecas img:nth-child(2){
        height: 96px;
        z-index: 2;
    }

    section#section3 div#section3-container div#section3-pecas div div#contentPecas img:nth-child(2):hover{
        transform: translateY(-25px);
    }

    /* Peça - Interferência */
    section#section3 div#section3-container div#section3-pecas div#contentPecas img:nth-child(3){
        height: 119px;
        transform: translateX(-28px);
    }

    section#section3 div#section3-container div#section3-pecas div div#contentPecas img:nth-child(3):hover{
        transform: translateX(5px);
    }

    section#section3 div#section3-container div#section3-pecas div#conteinarPecas div.pecaInformacao{
        width: 90%;
        height: auto;
        padding: 10px;
    }

    /* Caixa do título + parágrafo + Btn-SaibaMais */
    section#section3 div#section3-container div#section3-pecas div#conteinarPecas div.pecaInformacao div.containerInfo{
        gap: 20px;
    }

    /* Conteúdos das peças - Título default */
    div#conteinarPecas div.pecaInformacao div.containerInfo p.conteudoTitulo{
        font-size: 28px;
    }

    /* Conteúdos das peças - Parágrafo default */
    div#conteinarPecas div.pecaInformacao div.containerInfo p#pecaParagrafoPadrao{
        font-size: 16px;
    }

    /* Conteúdos das peças - Parágrafo Resultado, Performance e Interferência */
    div#conteinarPecas div.pecaInformacao div.containerInfo p.pecaParagrafo{
        font-size: 14px;
    }

    /* Modal */
    div#conteinarPecas div.modal div.modalPeca{
        width: 380px;
        padding: 20px;
        gap: 10px;
    }

    div#conteinarPecas div.modal div.modalPeca p{
        font-size: 15px;
    }
}
@media only screen and (min-width: 599px) and (max-width: 768px) {
    section#section3{
        padding: 40px;
    }

    section#section3 h1{
        font-size: 45px;
    }

    section#section3 div#section3-container{
        gap: 60px;
    }

    section#section3 div#section3-container div#section3-video{
        gap: 20px;
    }

    /* Vídeo do "Do que se trata?" */
    section#section3 div#section3-container div#section3-video video{
        min-width: 260px;
        height: 200px;
    }

    section#section3 div#section3-container div#section3-video h3{
        min-width: 260px;
        font-size: 18px;
    }

    /* Onde ficará a parte interativa com as peças R, P e I */
    section#section3 div#section3-container div#section3-pecas div#conteinarPecas{
        width: 100%;
    }

    /* Caixa que engloba a caixa do título + parágrafo + Btn-SaibaMais */
    section#section3 div#section3-container div#section3-pecas div#conteinarPecas div.pecaInformacao{
        width: 450px;
        padding: 10px 20px 20px;
    }

    /* Conteúdos das peças - Título default */
    div#conteinarPecas div.pecaInformacao div.containerInfo p.conteudoTitulo{
        font-size: 32px;
    }

    /* Conteúdos das peças - Parágrafo default */
    div#conteinarPecas div.pecaInformacao div.containerInfo p#pecaParagrafoPadrao{
        font-size: 20px;
    }

    /* Conteúdos das peças - Parágrafo Resultado, Performance e Interferência */
    div#conteinarPecas div.pecaInformacao div.containerInfo p.pecaParagrafo{
        font-size: 16px;
    }

    /* Modal */
    div#conteinarPecas div.modal div.modalPeca{
        width: 520px;
        padding: 20px;
    }

    div#conteinarPecas div.modal div.modalPeca p{
        font-size: 15px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 958px) {
    section#section3{
        padding: 40px;
    }

    section#section3 div#section3-container{
        gap: 60px;
    }

    section#section3 div#section3-container div#section3-video{
        gap: 30px;
    }

    /* Vídeo do "Do que se trata?" */
    section#section3 div#section3-container div#section3-video video{
        max-width: 350px;
        height: 230px;
    }

    section#section3 div#section3-container div#section3-video h3{
        min-width: 320px;
        font-size: 22px;
    }

    section#section3 div#section3-container div#section3-pecas > p{
        font-size: 22px;
    }

    /* Onde ficará a parte interativa com as peças R, P e I */
    section#section3 div#section3-container div#section3-pecas div#conteinarPecas{
        width: 700px;
    }

    div#conteinarPecas div.modal div.modalPeca{
        max-width: 600px;
        gap: 10px;
    }
}
@media only screen and (min-width: 959px) and (max-width: 1280px) {
    section#section3 div#section3-container div#section3-video{
        gap: 50px;
    }

    /* Vídeo do "Do que se trata?" */
    section#section3 div#section3-container div#section3-video video{
        max-width: 420px;
        height: 300px;
    }

    section#section3 div#section3-container div#section3-video h3{
        width: clamp(380px, 100%, 530px); /* Indica que a o conteúdo ocupará 100% do espaço disponível, espaço esse que vai variar entre 500px - 530px*/
    }
}