@import url('../base.css');

/* Media query */
@media screen and (max-width: 389px) {}
@media only screen and (min-width: 390px) and (max-width: 458px) {
    section#section1{
        height: 280px;
    }

    section#section1 div#section1Content{
        bottom: 10%;
        left: 16%;
        gap: 20px;
    }

    section#section1 div#section1Content div#section1texto{
        max-width: 320px;
    }
    
    section#section1 div#section1Content div#section1texto h1{
        margin-bottom: 20px;
        font-size: 30px;
    }
    
    section#section1 div#section1Content div#section1texto p{
        font-size: 12px;
    }

    section#section1 div#section1Content a#btn-rpi{
        width: fit-content;
        padding: 12px 35px;
        font-size: 12px;
    }
}
@media only screen and (min-width: 459px) and (max-width: 598px) {
    section#section1{
        height: 320px;
    }

    section#section1 div#section1Content{
        bottom: 15%;
        left: 22%;
    }

    section#section1 div#section1Content div#section1texto{
        max-width: 330px;
    }

    section#section1 div#section1Content div#section1texto h1{
        font-size: 30px;
    }

    section#section1 div#section1Content div#section1texto p{
        font-size: 15px;
    }

    section#section1 div#section1Content a#btn-rpi{
        width: 120px;
        padding: 10px 0;
    }
}
@media only screen and (min-width: 599px) and (max-width: 768px) {
    section#section1{
        height: 400px;
    }

    section#section1 div#section1Content{
        bottom: 15%;
        left: 22%;
    }

    section#section1 div#section1Content div#section1texto{
        max-width: 420px;
    }

    section#section1 div#section1Content div#section1texto h1{
        font-size: 40px;
    }

    section#section1 div#section1Content div#section1texto p{
        font-size: 18px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 958px) {
    section#section1{
        height: 500px;
    }

    section#section1 div#section1Content{
        bottom: 15%;
        left: 22%;
    }

    section#section1 div#section1Content div#section1texto{
        max-width: 540px;
    }

    section#section1 div#section1Content div#section1texto h1{
        font-size: 45px;
    }

    section#section1 div#section1Content div#section1texto p{
        font-size: 22px;
    }
}
@media only screen and (min-width: 959px) and (max-width: 1078px) {
    section#section1{
        height: 600px;
    }

    section#section1 div#section1Content{
        bottom: 15%;
        left: 22%;
    }

    section#section1 div#section1Content div#section1texto{
        max-width: 640px;
    }

    section#section1 div#section1Content div#section1texto h1{
        font-size: 55px;
    }

    section#section1 div#section1Content div#section1texto p{
        font-size: 25px;
    }
}
@media only screen and (min-width: 1079px) and (max-width: 1280px) {
    section#section1{
        height: 580px;
    }

    section#section1 div#section1Content{
        bottom: 15%;
        left: 23%;
    }
}