@import url('../base.css');

/* Media query */
@media screen and (max-width: 389px) {}
@media only screen and (min-width: 390px) and (max-width: 458px) {}
@media only screen and (min-width: 459px) and (max-width: 598px) {
    /* Contato */
    section#section9{
        flex-direction: column;
        padding: 40px;
    }

    section#section9 div{
        width: 90%;
    }
    
    section#section9 div h1{
        width: 90%;
        font-size: 35px;
        line-height: 40px;
    }

    section#section9 div p{
        font-size: 22px;
    }

    /* Formulário */ 
    section#section9 form{
        width: 100%;
        padding: 25px;
    }

    section#section9 form div.form-input label{
        font-size: 22px;
    }

    section#section9 form div.form-input input{
        font-size: 12px;
    }

    section#section9 form div.form-input input::placeholder{
        font-size: 12px;
    }


    section#section9 form div.form-input textarea{
        font-size: 12px;
    }

    section#section9 form div.form-input textarea::placeholder{
        font-size: 12px;
    }

    section#section9 form button{
        width: 180px;
        padding: 12px 0;
        font-size: 20px;
    }
}
@media only screen and (min-width: 599px) and (max-width: 768px) {
    /* Contato */
    section#section9{
        flex-direction: column;
        padding: 40px;
    }

    section#section9 div{
        width: 70%;
        text-align: center;
    }

    section#section9 div h1{
        font-size: 40px;
        line-height: 40px;
    }

    section#section9 div p{
        font-size: 25px;
    }

    /* Formulário */ 
    section#section9 form{
        width: 80%;
        padding: 25px;
    }

    section#section9 form div.form-input label{
        text-align: left;
        font-size: 22px;
    }

    section#section9 form div.form-input input{
        font-size: 12px;
    }

    section#section9 form div.form-input input::placeholder{
        font-size: 12px;
    }


    section#section9 form div.form-input textarea{
        font-size: 12px;
    }

    section#section9 form div.form-input textarea::placeholder{
        font-size: 12px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1008px) {
    /* Contato */
    section#section9{
        padding: 60px 50px;
    }

    section#section9 div{
        min-width: 250px;
    }

    section#section9 div h1{
        font-size: 40px;
    }

    section#section9 div p{
        font-size: 25px;
    }

    /* Formulário */ 
    section#section9 form{
        width: 73%;
        padding: 20px;
    }

    section#section9 form div.form-input{
        min-width: 100%;
    }

    section#section9 form div.form-input label{
        font-size: 20px;
    }

    section#section9 form div.form-input input{
        font-size: 12px;
    }

    section#section9 form div.form-input input::placeholder{
        font-size: 12px;
    }


    section#section9 form div.form-input textarea{
        font-size: 12px;
    }

    section#section9 form div.form-input textarea::placeholder{
        font-size: 12px;
    }

    section#section9 form button{
        width: 150px;
        padding: 12px 0;
        font-size: 20px;
    }
}
@media only screen and (min-width: 1009px) and (max-width: 1280px) {
    /* Contato */
    section#section9{
        padding: 60px 50px;
    }

    section#section9 div{
        min-width: 420px;
    }

    /* Formulário */ 
    section#section9 form{
        max-width: 80%;
    }
}