@import url('../base.css');

section#section1{
    position: relative;
    height: 640px;
    box-shadow: 0 8px 8px 0 #000;
    border-radius: 0 0 20px 20px;
    background: url('../../Imagens/img-homemOlhandoFuturo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(.9);
    scroll-margin-top: 100px; /* Faz com que o form não fique grudado com a parte de cima do site ao clicar no link interno que fica na nav (btn Solicitar Orçamento) */
}

section#section1 div#section1Content{
    position: absolute;
    bottom: 20%;
    left: 25%;
    filter: brightness(2);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section#section1 div#section1Content div#section1texto{
    max-width: 740px;
    z-index: 10;
}

section#section1 div#section1Content div#section1texto h1{
    margin-bottom: 35px;
    font-size: 60px;
    font-family: var(--theSeasonBold);
    font-weight: 100;
    letter-spacing: 4px;
    color: var(--Branco);
}

section#section1 div#section1Content div#section1texto p{
    font-size: 25px;
    font-style: italic;
    font-family: var(--openSans);
    color: var(--Cinza-neutro);
}

section#section1 div#section1Content a#btn-rpi{
    width: 150px;
    border: 3px solid var(--Branco);
    border-radius: 20px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    color: var(--Branco);
    transition: .3s ease-in-out;
}

section#section1 div#section1Content a#btn-rpi:hover{
    border: 3px solid var(--Verde-petroleo-claro);
    background-color: var(--Verde-petroleo-claro);
}